.flex-center {
  display: flex;
  justify-content: center;
}

.qr-container {
  display: flex;
  justify-content: center;
}

.qr-wrapper {
  width: 196px;
  cursor: pointer;
}

.qr-input-container {
  width: 100%;
  margin-bottom: 20px;
}

.qr-input {
  width: 400px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}
